.cover__link {
  background: rgba(42, 44, 47, 0.3);
  text-decoration: none;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 195px 0;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media screen and (max-width: 540px) {
  .cover__link {
    padding: 33px 0;
  }
}
