.page {
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;

  background-color: #2A2C2F;
  padding-top: 28px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: calc(100vw - 96px);
  max-width: 1280px;
}

.header__lang-links {
  list-style: none;
  display: flex;
  max-height: 52px;
  margin: 0;
  padding: 0 0 5px;
}

.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;

  margin: 0;
  margin-left: 18px;
}

.header__lang-link_active {
  text-decoration: underline;
}

.content {
  max-width: 1280px;
  min-width: 320px;

  margin: 0 auto;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link:hover {
  opacity: 0.8;
}

.lead {
  margin: 56px auto 0;
  width: calc(100vw - 296px);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;

  margin: 0;
}

.lead__subtitle {
  width: 640px;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  margin: 0;
  margin: 32px 0 64px;
}

.lead__image {
  object-fit: contain;
  width: 100%;
}

.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  margin: 0;
  margin-top: 8px;
  align-self: flex-start;
}

.intro {
  margin: 92px 442px 0 148px;
  width: 690px;
}

.intro__title {
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  margin: 0;
}

.intro__text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;

  margin: 0;
  margin: 40px 0 33px;
}

.intro__list {
  list-style: none;

  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  padding: 0;
}

.photo-grid {
  padding: 92px 48px;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  margin: 0 auto;
  width: calc(100vw - 296px);
  max-width: 1280px;
}

.places__grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

.place {
  list-style: none;
  display: grid;
  grid-template-columns: min-content fit-content(484px);
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "title website"
  "image paragraph";
  gap: 48px 40px;

  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
  align-self: end;

  margin: 0;
}

.place__image {
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
}

.place__website {
  grid-area: website;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;

  margin: 0;
  margin-bottom: 12px;
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__paragraph {
  width: 100%;
  min-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;

  margin: 0;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}

.place__paragraph-container {
  grid-area: paragraph;
}

.cover {
  margin: 92px auto;
  width: calc(100% - 2 * 48px);
  max-width: 1280px;
  background-image: url(./images/cover-trains.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.cover__link {
  display:block;
  background: rgba(42, 44, 47, 0.3);
  text-decoration: none;
  color: #FFFFFF;
}

.cover__link:hover {
  display:block;
  background: rgba(42, 44, 47, 0.8);
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  margin: 0;
  padding: 245px calc((100% - 560px) / 2) 0;
  margin-bottom: 32px;
}

.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  margin: 0;
  padding: 0 calc((100% - 360px) / 2) 245px;
}

.footer {
  width: calc(100% - 96px);
  max-width: 1280px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding-bottom: 24px;
}

.footer__links {
  list-style: none;
  display: flex;

  margin: 0;
  padding: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;

  margin-right: 18px;
}

.footer__copyright {
  margin: 0;
}


/* Media */
@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
    width: calc(100vw - 96px);
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .intro {
    margin-right: 286px;
    margin-left: 48px;
    width: 690px;
  }

  .photo-grid__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .places {
    width: calc(100vw - 96px);
  }

  .place {
    column-gap: 32px;
  }

  .place__image {
    max-width: 440px;
    max-height: 440px;
  }

  .cover {
    width: 100%;
  }

  .cover__title {
    padding-top: 195px;
  }

  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 970px) {
  .places {
    width: calc(100vw - 48px);
  }

  .place {
    column-gap: 28px;
    margin-bottom: 73px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__title_size {
    max-width: 300px;
  }

  .place__image {
    max-width: 340px;
    max-height: 340px;
  }

  .place__paragraph {
    font-size: 16px;
    width: 100%;
    min-width: 352px;
  }

  .place__paragraph:first-child {
    margin-bottom: 25px;
  }

  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 48px);
  }

  .lead {
    width: 100%;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    margin: 88px 24px 0;
    width: calc(100vw - 48px);
  }

  .photo-grid {
    padding: 88px 24px;
  }

  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .cover {
    margin: 60px auto 88px;
  }

  .cover__title {
    padding-top: 115px;
  }

  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media screen and (max-width:740px) {
  .places {
    width: calc(100vw - 32px);
  }

  .place {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;
    gap: unset;

    margin-bottom: 50px;
  }

  .place__title {
    align-self: flex-start;
    font-size: 32px;
    line-height: 35px;
  }

  .place__title_size {
    max-width: 100%;
  }

  .place__website {
    margin: 32px 0;
  }

  .place__image {
    min-width: 100vw;
    object-fit: cover;
    align-self: center;
  }

  .place__paragraph-container {
    margin-top: 32px;
  }
}

@media screen and (max-width: 685px) {
  .lead__caption {
      margin-left: 16px;
  }

  .lead__title {
    width: calc(100vw - 48px);

    font-size: 60px;
    line-height: 64px;
  }

  .lead__subtitle {
    width: calc(100vw - 96px);

    font-size: 24px;
    line-height: 28px;
  }

  .footer {
    flex-direction: column;
    width: calc(100% - 32px);
  }

  .footer__links {
    flex-direction: column;

    margin-bottom: 16px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;

    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    margin: 66px auto 64px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    padding: 33px calc((100% - 288px) / 2) 0;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 calc((100% - 288px) / 2) 33px;
  }
}

@media screen and (max-width: 485px) {
  .page {
    padding-top: 16px;
  }

  .header {
    width: calc(100vw - 32px);
  }

  .header__text {
    font-size: 18px;
    line-height: 20px;
  }

  .header__logo {
    max-height: 42px;
  }

  .lead__title {
    width: 100%;

    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    width: 100%;

    font-size: 16px;
    line-height: 20px;

    margin: 16px 0 40px;
  }

  .intro {
    margin: 64px 16px 0;
    width: calc(100vw - 32px);
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .photo-grid {
    padding: 64px 16px;
  }

  .photo-grid__container {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .place__image {
    max-width: 320px;
    max-height: 320px;
  }

  .place__paragraph {
    width: 100%;
    min-width: 288px;
  }
}
