.place__image {
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 970px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (max-width:740px) {
  .place__image {
    min-width: 100vw;
    object-fit: cover;
    align-self: center;
  }
}

@media screen and (max-width: 485px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
}
