.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  margin: 0;
  padding: 0 calc((100% - 360px) / 2) 245px;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 0 calc((100% - 288px) / 2) 33px;
  }
}
